.button {
    display: flex;
    height: 48px;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-3);
    color: var(--white);
    font-size: 16px;
    font-weight: 900;
    font-size: 16px;
}