@font-face {
	font-family: vazir;
	font-style: normal;
	font-weight: 900;
	src: url('./vazir/Vazir-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./vazir/Vazir-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: vazir;
	font-style: normal;
	font-weight: 800;
	src: url('./vazir/Vazir-Light.woff') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./vazir/Vazir-Light.woff2') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: vazir;
	font-style: normal;
	font-weight: 600;
	src: url('./vazir/Vazir-Medium.woff') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./vazir/Vazir-Medium.woff2') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: vazir;
	font-style: normal;
	font-weight: 400;
	src: url('./vazir/Vazir-Thin.woff') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./vazir/Vazir-Thin.woff2') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: vazir;
	font-style: normal;
	font-weight: 300;
	src: url('./vazir/Vazir.woff') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./vazir/Vazir.woff2') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}