.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url('../../../public/images/header.png');
    background-size: cover;
    background-position: center;
    flex-direction: column;
    color: var(--white);
    row-gap: 2.5rem;
}
.container > div:first-child {
    font-size: 20px;
    font-weight: 600;
}
.container > div:nth-child(2) {
    font-size: 4rem;
    font-weight: 900;
    max-width: 800px;
    text-align: center;
    line-height: 5rem;
}
.container > div:last-child {
    font-size: 14px;
    font-weight: 500;
    max-width: 600px;
    text-align: center;
    line-height: 2rem;
}