@import "../styles/reset.css";
@import "../public/fonts/fonts.css";
@import "tailwindcss";
@import "../styles/variables.css";
@import "../public/fontIcon1/style.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family), sans-serif;
}
._container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-family), sans-serif;
}
.pageWrapper {
  display: flex;
  width: 100%;
  max-width: 1600px;
  flex-direction: column;
  align-items: center;
}