.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--bg-color-1);
    margin-bottom: 2rem;
    padding: 3rem 4rem;
    row-gap: 2rem;
    min-height: 350px;
}
.title {
    font-size: 2rem;
    font-weight: 900;
    color: var(--black);

}
.description {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    max-width: 600px;
    line-height: 2rem;
}