.navbar {
    display: flex;
    width: 100%;
    height: 88px;
    padding: 1.5rem 2rem;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.logoImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
}
.logoText {
    font-size: 1.5rem;
    font-weight: 600;
    color: #111827;
}
.login {
    display: flex;
    position: relative;
}
.loginLink {
    background-color: var(--bg-color-1);
    color: var(--white);
    padding: 1rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
}